body {
  margin: 0;
  background: #001f14;
  color: #e6ffe6;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
  //z-index = 1;
}


.content {
  position: relative;
  //z-index: 2;
}

h1, h2, h3, h4 {
  color: #eaffea;
}

.firefly {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fffacd;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 6s infinite;
  animation-delay: calc(var(--i) * 0.5s);
  top: calc(100% * var(--rand-top));
  left: calc(100% * var(--rand-left));
}

@keyframes twinkle {
  0%, 100% { opacity: 0; transform: scale(0.5); }
  50% { opacity: 1; transform: scale(1.5); }
}


.btn-custom {
  background-color: #0f3d2e;
  border: 1px solid #3aff85;
  color: #eaffea;
  margin: 0.5rem;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #3aff85;
  color: #001f14;
}

.glow {
  text-shadow: 0 0 10px #3aff85, 0 0 20px #3aff85;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}